.mainContainer {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;

  .innerContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    > span {
      font-weight: bold;
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    .rents {
      display: flex;
      flex-direction: row;
      margin: 15px 0;

      .MuiInput-root {
        width: 45%;
      }
    }

    .spacingInput{
      margin-bottom: 10px;
    }

    .mobile {
      margin-top: 15px;
      width: 60%;
    }
    .farmCapacity {
      margin-top: 15px;
      display: flex;
    }
    .farmSize {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
    }
    .features {
      flex-direction: row;
      margin-top: 15px;
    }

    .mainImageContainer {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      align-items: center;

      .mainButton {
        color: white;
        border-radius: 5px;
        padding: 6px 10px;
        background-color: blue;
      }
    }

    .imageContainer {
      width: 100%;
      position: relative;
      .mainImage {
        width: 100%;
        object-fit: cover;
        margin-top: 10px;
        border-radius: 5px;
      }

      .closeIcon{
        right: 10px;
        top: 20px;
        position: absolute;
        background-color: #FA4224;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .otherImageContainer {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      align-items: center;

      .mainButton {
        color: white;
        border-radius: 5px;
        padding: 6px 10px;
        background-color: blue;
      }
    }

    .saveButton {
      color: white;
      background-color: orange;
      outline: none;
      border: none;
      padding: 10px;
      margin-top: 10px;
      font-weight: 500;
      font-size: 18px;
      border-radius: 10px;
    }
  }
}
