.mainContainer {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;

  .innerContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    > span {
      font-weight: bold;
      text-align: center;
    }

		.backButton{
			width: max-content;
			height: 40px;
			border: none;
			background-color: #fff;

			svg{
				height: 25px;
				width: 25px;

			}
		}
  }

  .farmsSection {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .farmContainer {
      margin-bottom: 15px;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 5px 5px 17px 0px lightgray;
      -webkit-box-shadow: 5px 5px 17px 0px lightgray;
      -moz-box-shadow: 5px 5px 17px 0px lightgray;
			display: flex;
			flex-direction: row;

			img{
				height: auto;
				width: 35%;
				object-fit: cover;
				margin-right: 10px;
				border-radius: 10px;
			}

			.details{
				flex: 1;

				span {
					font-weight: 600;
				}
	
				.buttons{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					position: relative;
					margin-top: 15px;
					width: 100%;
	
					.btn{
						width: 45%;
						padding: 10px 0;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: #475F94;
						border-radius: 10px;
						cursor: pointer;
						
						span{
							color: white;
							font-weight: 600;
							font-size: 14px;
						}
	
						svg{
							fill: white;
							margin-left: 5px;
						}
					}
	
					.btn:last-child{
						background-color: #FA4224;
					}
				}
			}
    }

		.addNew{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 15px 0;
			border-radius: 10px;
			border: 1px dashed lightgray;
			cursor: pointer;

			span{
				color: gray;
				font-weight: 600;
			}
		}
  }
}
