html,
body {
padding: 0;
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background-image:linear-gradient(rgb(128, 22, 160),rgb(159, 38, 184),rgb(197, 38, 212)) ;
  background-attachment: fixed;
}

a {
color: inherit;
text-decoration: none;
}

* {
box-sizing: border-box;
}