.mainContainer {
  max-width: 480px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .card {
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name {
      display: flex;
      justify-content: center;
      align-items: baseline;
      font-weight: 700;
      font-size: 40px;
      color: #fff;
      letter-spacing: 5px;

      .design {
        color: #ff8900;
        font-size: 60px;
        font-weight: 700;
      }
    }

    .error {
      font-weight: bold;
      color: red;
    }

    .textbox {
      background: white;
      border: 1px solid #ddd;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px #ddd inset;
      color: #666;
      font-weight: 600;
      outline: none;
      padding: 10px 25px;
      width: 100%;
    }

    .login {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      font-weight: 700;
      font-size: 20px;
      margin: 10px;
      text-align: center;
      background-color: #ff8900;
      color: #fff;
      border: none;
    }

    .login:disabled {
      background-color: gray;
    }
  }

  .card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 20px;
    filter: blur(2px);
    height: 100%;
    width: 100%;
    background-image: url("/image/farmhous-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -999;
    box-shadow: inset 0 0 500px rgba(255, 255, 255, 40%);
  }

  input {
    border: none;
    border-radius: 6px;
  }
}
